[workspace]
name = "dotnetup"
description = "dotnet sdk version manager (ala: rustup)"
authors = ["Brad Jones <brad@bjc.id.au>"]
channels = ["https://prefix.dev/brads-forge", "conda-forge"]
platforms = ["win-64", "linux-64", "osx-64", "osx-arm64"]

[tasks]
init = "task init"

[tasks.code]
depends-on = ["init"]
cmd = "code ."

[dependencies]
deno = ">=2.6.8,<2.7"
rattler-build = ">=0.57.2,<0.58"
task = ">=3.48.0,<4"

[target.linux-64.dependencies]
__glibc = "*"
clang = ">=21.1.8,<22"
cocogitto = ">=6.5.0,<7"
curl = ">=8.18.0,<9"
dprint = ">=0.51.1,<0.52"
go-shfmt = ">=3.12.0,<4"
icu = ">=78.2,<79"
krb5 = ">=1.22.2,<2"
lefthook = ">=2.1.1,<3"
libcurl = ">=8.18.0,<9"
llvm-tools = ">=21.1.8,<22"
lttng-ust = ">=2.13.9,<3"
tar = ">=1.35,<2"
zlib = ">=1.3.1,<2"
tree = ">=2.3.1,<3"

[activation]
scripts = ["activation.sh"]
